body{background-image:url(../img/download.jpg);background-repeat:no-repeat;background-attachment:fixed;background-size: cover;}
h2 {
    text-align: center;
    color:rgb(230, 230, 240);
    font-family: 'Merienda', cursive;
}
h3 {
    color:rgb(230, 230, 240);
    font-family: 'Merienda', cursive;
}
ul{
    font-family: 'Lemonada', cursive;
    color: rgb(178, 179, 180);
}